[2022-09-01 17:47] crazy-max commented on #674
Oh good catch it should redirect to docs website: https://docs.docker.com/engine/reference/commandline/build/#git-repositories

[2022-09-01 17:59] Craig1f commented on #684
Thanks @crazy-max . I did not see an example anywhere that uses that syntax, however I was about to also close this ticket with the following example that solved my problem:

[code]

With this syntax, the normal `docker build` behavior of pulling build-args from the environment is applied and works, IF the build-arg and env var have identical names.

[2022-09-01 18:04] crazy-max commented on #684
Yes that also works!

[2022-09-02 10:07] almereyda commented on #673
I would consider this information very useful for the README of the build push action, why I suggest to reopen this ticket.

[2022-09-02 10:08] crazy-max commented on #673
Sure sgtm

[2022-09-02 10:47] crazy-max commented on #670
Yes this is expected as you don't have any runnable instructions that could be cached when using only `FROM`. You can add some `RUN` commands to start caching something:

[code]

[code]

[code]

### `from` job

[code]

## `from-run` job

[code]

Closing this issue since that should answer your question, but feel free to re-open if it doesn't. Thanks.

[2022-09-02 10:47] #670 closed

[2022-09-02 10:53] crazy-max commented on #660
Hum ok looking at the image being built I think it's the same issue as https://github.com/docker/build-push-action/issues/321 where load silently fails because of [insufficient disk space](https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources). You can remove some [components pre-installed on the runner](

[2022-09-02 10:53] #660 closed

[2022-09-02 12:26] #673 closed

[2022-09-02 12:26] #674 closed

[2022-09-02 21:05] polarathene commented on #674
Can you clarify on the `.dockerignore` compatibility?

I'm not 100% if that is saying that any `.dockerignore` present prior does not affect the docker build context, but if the git repo has `.dockerignore` (at the appropriate place if a subdir is used?), then that `.dockerignore` is valid and will apply to the build context still? Or no `.dockerignore` is valid at all with the Git context?

[2022-09-02 21:23] polarathene commented on #676
The docs update is very good at explaining it. But if you need extra clarification.

- [`buildx`](https://github.com/docker/buildx) uses [`BuildKit`](https://github.com/moby/buildkit), and [`docker`](https://github.com/moby/moby) (_[Docker Engine](https://github.com/docker/engine) which provides `docker` migrated to the `moby` project since 2022. The `moby` README doesn't mention it, but if you vi

[2022-09-02 23:42] polarathene commented on #675
I understand the usage. I don't understand the reason or need.

Do you know of a scenario / example where it's useful to have the isolation or different builders? Would it be for something like handling separate caches?

[2022-09-04 21:40] jkulak commented on #676
Thank you, it solves the issue.

The docs update makes it clear. 👍🏽

[2022-09-05 11:35] KonradHoeffner opened #686 "Please explain when to use which type of cache"
https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md lists several mutually exclusive (?) different methods for caching but I am not sure when to use which of those methods. I would appreciate a few lines of documentation on when I should use which of those methods.

[2022-09-05 11:42] jedevc commented on #686
Good call out - we're actually working on a rework of our cache docs across buildkit/buildx/actions repos.

It'll be good to get some more info on the available cache methods and how to use them in actions, as well as update to include information on the upcoming s3 cache.

[2022-09-07 06:43] Yikun opened #687 "raise `ghcr unexpected status: 403 Forbidden` when push ghcr image"
### Troubleshooting

### Behaviour
We didn't change any configuration before and after this error happened, same ghcr container image had permisson issue.

#### Steps to reproduce this issue

#### Expected behaviour

push successfully

#### Actual behaviour

[code]

### Configuration

* Repository URL (if public):
* Build URL (if public):

[code]

### Logs

https://github.com/Yikun/spark/runs/8221

[2022-09-07 06:47] Yikun commented on #687
same issue are also happend in different developers:

- https://github.com/grundprinzip/spark/runs/8220478349?check_suite_focus=true
- https://github.com/panbingkun/spark/runs/8221478433?check_suite_focus=true

[2022-09-07 06:51] Yikun commented on #687
https://github.com/apache/spark/pull/37745#issuecomment-1234067056

We can confirm that:
https://user-images.githubusercontent.com/1736354/187890839-2f26ce10-2e20-4d7e-ab6e-311c898fc416.png

and

https://user-images.githubusercontent.com/9700541/187891526-5938feb5-d380-4574-a81a-9b621779dead.png

and

https://user-images.githubusercontent.com/1736354/187893383-37752514-c9be-4f3b-bb53-a3f8cdc3e25c.

[2022-09-07 07:00] Yikun commented on #687
OK....Related incidents: https://www.githubstatus.com/incidents/d181frs643d4

[2022-09-07 16:23] Yikun commented on #687
After incidents is resolved, it worked as expected again.

Let me close this issue.

[2022-09-08 04:05] Yikun commented on #687
@crazy-max this issue happened again....

[2022-09-08 04:21] cyclinder commented on #687
Same issue for me..

[2022-09-08 04:22] Yikun commented on #687
https://github.com/orgs/community/discussions/32184 also mentioned it

[2022-09-08 05:47] ErikJiang commented on #687
😂I've been tormented by this problem for two days.
![image](https://user-images.githubusercontent.com/10629406/189043975-a4f01389-aef7-4992-85b6-990bb58b2770.png)

[2022-09-08 09:14] f-strieg commented on #687
I'm working on a monorepo and I get the same error for 1 out of 3 identical workflows. Individual re-running the failed job doesn't help either.

[2022-09-08 12:26] #647 closed

[2022-09-08 12:46] crazy-max commented on #687
Sorry but we can't do much about it as it's related to GitHub infrastructure. Same as https://github.com/docker/build-push-action/issues/651. Suggest to contact GitHub.

[2022-09-08 12:46] #687 closed

[2022-09-12 13:43] Maleware commented on #558
I've got the current problem that the `COPY --from=builder ./app/stackable-kafka-operator/ ./stackable-kafka-operator` where `FROM docker.stackable.tech/stackable-experimental/ubi8-rust-builder AS builder`

This error happened the first time, when switching from build to buildx to enable multi-arch builds (which is quite painful anyway with qemu).

I've tried several things to avoid that error:
1.

[2022-09-14 14:28] alonbl commented on #538
Seems like required feature, I need also push without build, why couple these?

[2022-09-14 19:22] jooola opened #688 "Use gha cache exporter on pull requests ?"
I was wondering if it is safe to use the gha cache exporter when running the build workflow for pull_request events as well ?

Is it a different cache location for pull requests ? Is there any way to pollute the cache from a fork ?

https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#cache-backend-api

[2022-09-19 14:10] pantelis-karamolegkos opened #689 "403 error when trying to push to multiple gcr registries"
### Troubleshooting

### Behaviour

Trying to adhere to the guide on how to push to multiple registries according to this guide.

#### Steps to reproduce this issue

[code]

The `${{ steps.set-images.outputs.image-list }}` is something like this

[code]

The build starts and finishes with success

Note that **BOTH** logins succeed

#### Expected behaviour

Images gcr.io/gcr-repo1/my-image:mytag an

[2022-09-19 14:16] crazy-max commented on #688
@jooola

Yes. Restrictions on cache access are the same as GitHub currently provides: https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache

Cache is scoped to the pull request when exported. It also imports cache from head ref if available.

[2022-09-19 14:16] #688 closed

[2022-09-19 14:23] pantelis-karamolegkos commented on #686
That would be extremely useful since I wasn't able either to figure out which cache to use when by reading the guide.

[2022-09-19 14:23] crazy-max commented on #689
Authentication is scoped to the registry `gcr.io`. You can't login to the same registry with multiple accounts. Therefore only `login to gcr2` will be effective. You should handle permissions of this service account on GCR for both repos.

Also tags don't seem right looking at your logs:

[code]

`gcr-repo2/my-image` should be smth like `gcr.io/gcr-repo2/my-image`.

[2022-09-19 14:26] pantelis-karamolegkos commented on #689
I assume this is a limitation of `gcr.io`, right? The same example would work if I wanted to push to `dockerhub` and (one) `gcr.io` at the same time? (setting aside the tag format)

[2022-09-19 14:30] pantelis-karamolegkos commented on #689
Also, I don't know why the logs spit out the tags like this in the end, but the build command seems right (logs below)

[code]

[2022-09-19 15:12] crazy-max commented on #689
Tags look good actually

Ah ok I get it, so `gcr-repo2/my-image` is right there as it checks "token for gcr.io".

Not a limitation on `gcr.io`, this would be the same for ECR or ACR. You just need to set correct permissions on GCR console to access both repositories with a single service account.

Yes because registry is not the same (`docker.io` and `ghcr.io`).

[2022-09-19 22:51] devinrsmith commented on #558
I'm getting this same issue consistently, even with the latest buildkit:

[code]

[2022-09-19 23:05] tonistiigi commented on #558
@Maleware There is no such path `/app/stackable-kafka-operator` anywhere in the `docker.stackable.tech/stackable-experimental/ubi8-rust-builder` image afaics.

[2022-09-20 08:45] jedevc commented on #686
Closing this to track in https://github.com/docker/buildx/pull/1316 and https://github.com/docker/docker.github.io/pull/15603.

[2022-09-20 08:45] #686 closed, assigned to jedevc

[2022-09-20 12:37] acuD1 commented on #671
I have the same issue. Any update on the matter ?

[2022-09-21 19:20] ideonrandy opened #690 "Read Only File System"
### Troubleshooting

1. Went through the doc - issue not covered
2. Attempted to add `security.insecure` to the `allow` option
3. Attempted a `chmod 755 /etc/`

### Behaviour
I'm building a DHCP docker container which needs to modify the contents to `/etc/hosts` and `/etc/dhcp/dhcpd.conf` - in attempting to write changes, I get an error that states the filesystem is read only. Below is the code ne

[2022-09-22 22:07] terjekv opened #691 "Unable to COPY artifacts downloaded with download-artifacts"
### Behaviour

I am trying to use upload-artifact to store some artifacts from a pervious part of the workflow and then download-artifact to fetch those in the next stage. This works fine. However, once I try to COPY these artifacts into a Docker, I can't find these artifacts no matter if I use WORKDIR or full paths.

I have tested that the artifacts are created and uploaded as expected, and they

[2022-09-23 12:44] jdaolearning917 commented on #574
Note, if you are following the tutorial and you extract the ZIP > you'll have 2 app locations. one in getting started and one where ever you extract. Make sure the Dockerfile you created is saved inside the getting-started path under /app and not inside the extracted location

Example: "C:\Users\peanut\getting-started\app" - save it here
bad path:  "C:\Users\Peanut\Downloads\app"

i had it in the

[2022-09-24 20:03] rodrigorodrigues opened #692 "how to use existing image without Dockerfile"
Hi all,

I was wondering if it's possible to build a new image for different platform(`arm64`) based on existing `amd64 image` without Dockerfile?

It works already using maven plugin(`fabric8 docker:build`) with Dockerfile but would be nice to use `spring-boot:build-image` the problem is the second one use packetobuild but only has amd64.

Github action working with docker:build

https://github.c

[2022-09-27 02:28] abraunegg opened #694 "Build Docker Fedora ARM images keeps stalling | failing to build"
### Behaviour

#### Steps to reproduce this issue

1. Build a Fedora Docker image for arm/v7 and arm64 architectures

There is no consistent reason as to why the builds have started failing, or why some of them work, then others fail.

Debian Docker images build in ~10 mins, Alpine images in ~11mins ...

#### Expected behaviour

The Fedora builds for ARM systems should build | complete in a simila

[2022-09-29 06:15] eumoh1601 commented on #292
this fixed the issue for me

[2022-10-02 11:24] zdraganov commented on #100
Can we somehow rely on the caching if we use the docker driver or we have to do a tradeoff with it?

[2022-10-03 18:49] jayhendren commented on #33
@crazy-max Do you have any info/docs on how to add a timestamp tag?  I couldn't find anything in the existing docs.

[2022-10-03 18:55] crazy-max commented on #33
@jayhendren Using [`{{date '<format>'}}` global expression](https://github.com/docker/metadata-action#date-format) with the [`raw` type](https://github.com/docker/metadata-action#typeraw) tag in [metadata-action](https://github.com/docker/metadata-action) like:

[code]

[2022-10-04 14:48] alejoGT1202 commented on #390
Hello I'm trying to do this but when I tried to access to my secret key in python is set to `None`.

**Workflow**

[code]

**Dockerfile**

[code]

[2022-10-05 07:45] stalkerg commented on #20
@HellGilo ECR just does not support it https://github.com/aws/containers-roadmap/issues/876

[2022-10-05 09:39] md-seb commented on #638
docker/build-push-action@v3 uses Git context by default, but you can override it by setting context explicitly. This allows you to mutate the context using any actions, including actions/checkout@v3 with submodules (we use dedicated GitHub account for automation, then add that account's SSH key to repository secrets as DEPLOYER_SSHKEY):

[code]

[2022-10-05 09:48] BeyondEvil commented on #545
@barthap This was my thinking too (external volume mount), theoretically that shouldn't be a problem or even difficult, but the question is how to turn off the cache export step.

[2022-10-05 12:18] roymiloh commented on #300
@crazy-max could you please explain why having `context: .` solves the issue? it actually does (I use `docker/build-push-action@v3`), but I'd be glad to understand why. Does having a context imply that no submodules should be cloned?

[2022-10-05 13:02] crazy-max commented on #300
@roymiloh

If `context` input is not specified it will use the default [Git context](https://github.com/docker/build-push-action/#git-context) instead and clone the repository through BuildKit. But having `context: .` will use the current dir as context. You have to check out the repo first using `actions/checkout` and that's why it works as workaround because BuildKit will not clone the repositor

[2022-10-05 13:14] roymiloh commented on #300
I see, thanks. Well, I actually came across this issue because things didn't work:
[code]
... and now I understand why having a `context` is a workaround (I use `actions/checkout` along the workflow indeed). Anyway - it could be that there's another issue, as (IIUC) `actions/checkout` doesn't clone submodules by default, so maybe it doesn't work in general for some reason (because something is mis

[2022-10-05 13:19] crazy-max commented on #300
@roymiloh It doesn't checkout submodules by default: https://github.com/actions/checkout/#usage

[code]

[2022-10-06 16:49] alejoGT1202 opened #698 "Git Secrets as enn variables"
### Troubleshooting

Tried to replicate the solution presented in the following issue #390

### Behaviour

Inside my workflow I'm passing my organization secrets as follows:

[code]

Inside my docker file I'm executing the suggested command from #390

[code]

However, when my python script is trying to access to the env variables through   `os.getenv('CASSANDRA_CLIENT_ID')` it returns a `None` val

[2022-10-08 12:40] pantelis-karamolegkos opened #701 "Secrets not working as expected (mount fails)"
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour

A secret mount is not made available to the `Dockerfile` (apparently)

#### Steps to reproduce this issue

1. Create the following `Dockerfile`

[code]

2. Execute the following action

[code]

#### Expected behaviour

[2022-10-08 21:31] crazy-max commented on #698
Can you post the complete Dockerfile?

Are you doing `os.getenv('CASSANDRA_CLIENT_ID')` in the same `RUN` instruction with mounted secrets?

[2022-10-08 21:34] crazy-max commented on #701
Secret mounts are only available for the `RUN` instruction to which they are specified.

This should work:

[code]

[2022-10-08 21:34] #701 closed

[2022-10-08 21:46] crazy-max commented on #694
Looks like a QEMU issue and nothing to do with the build-push-action. Suggest to open an issue on https://github.com/tonistiigi/binfmt with a simple repro (Dockerfile and build command) so we can repro on our side. Thanks.

Also looking at your latest run it seems to work now: https://github.com/abraunegg/onedrive/actions/runs/3203414660/jobs/5233481986

[2022-10-08 21:46] #694 closed

[2022-10-08 21:51] abraunegg commented on #694
@crazy-max

This was already done - no response as yet: https://github.com/tonistiigi/binfmt/issues/109

This is only because I have removed ARMv7 from building - https://github.com/abraunegg/onedrive/pull/2165

The ARMv7 builds are still failing if this gets put back in.

[2022-10-08 22:00] crazy-max commented on #692
You need a Dockerfile to build. Not sure I understand what you mean.

If the base image doesn't support the target platform it will not have the expected outcome when run. Also I can't find `./authentication-service/target/docker/authentication-service/build/Dockerfile` that is being used [in your workflow](https://github.com/rodrigorodrigues/microservices-design-patterns/actions/runs/3118222069/w

[2022-10-08 22:07] crazy-max commented on #691
Looking at your workflow, I wonder why you're building your Go app using another action using a matrix in a dedicated job: https://github.com/terjekv/github-authorized-keys/blob/46f2a49350cf6cc1a68ee972c8d1d21694287ddf/.github/workflows/releases.yml#L19-L24

[code]

[2022-10-09 09:16] pantelis-karamolegkos commented on #701
Here is my new `Dockerfile` (did not change anything in the action invocation)

[code]

And here is the new error

[code]

[2022-10-09 09:26] pantelis-karamolegkos commented on #701
Here is the new `Dockerfile` (did not change anything in the action invocation)

[code]

and here is the new error

[code]

[2022-10-09 09:48] pantelis-karamolegkos commented on #701
do I have to explicitly create the `/run/secrets/JFROG_PASS` myself in a previous step? or does the action take care of this?

[2022-10-09 14:56] crazy-max commented on #701
Do you have a link to your repo or logs?

[2022-10-09 15:02] pantelis-karamolegkos commented on #701
Hm...I think I have figured it out...

This action is part of a re-usable workflow

[code]

so the problem seems to be I have not explicitly declared `MY_PASSWORD` as a secret in the re-usable workflow.

(I am in the process of making this generic since we have the `docker/build-push-action` as a step of a reusable workflow.

[2022-10-09 15:05] crazy-max commented on #701
Yes you need this or explicitly specify your secret.

[2022-10-09 15:11] crazy-max commented on #701
Looking at this issue, I think I will open a PR to warn if secret is empty.

[2022-10-10 15:16] 0nary opened #702 "Local create image and image create with this workflow, behave differently [Question]"
### Behaviour

#### Steps to reproduce this issue

I'm not sure how to reproduce.

#### Expected behaviour

I expeted an image a create with :
[code]
will behave the same as the image created with :
[code]
#### Actual behaviour

But with the workflow image I get an exception :
[code]
I don't have with the local one.

### Question

So my question is, what changes between :
[code]
and :
[code]
?

I

[2022-10-10 15:18] crazy-max commented on #702
Can you post your Dockerfile, `docker info` output and complete build logs please?

[2022-10-10 15:25] 0nary commented on #702
Dockerfile:
[code]
docker info output:

[code]

docker build logs:
[code]

[2022-10-10 15:41] crazy-max commented on #702
Thanks but for logs I mean ones from the GitHub workflow with the exception.

[2022-10-10 15:50] 0nary commented on #702
The github workflow doesn't throw an exception. It's when I use the image , create by the github workflow, I get an exception when performing an action and this doesn't append with the image I creates locally.

You can fine the logs in this file :
[workflow-logs.txt](https://github.com/docker/build-push-action/files/9747317/workflow-logs.txt)

[2022-10-11 06:04] crazy-max commented on #702
Don't think that's an issue with this action or buildx but your project. My best guess is that dome files copied locally with `COPY . .` are not available in your repository.

You can repro locally with:

[code]

Where `<git-repo>` is the Git URL to your repository like `https://github.com/user/repo.git`.

[2022-10-11 11:40] jedevc commented on #647
@stalkerg https://github.com/docker/buildx/pull/1294 was merged after the previous release of buildx, so you'll need to use a development build of buildx if you're wanting to use client-side credentials.

If your issue is still occurring even off of the buildx master branch, then please open a separate issue! :tada:

[2022-10-11 22:25] jacobwoffenden opened #703 "Warning Output from GitHub Actions"
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour

[code]

As per https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

I can see the latest v3 release (v3.1.1) uses `@actions/core@^1.9.0` https://github.com/docker/bu

[2022-10-12 07:04] 0nary commented on #702
Yes my repo is private.
I will try this, thanks.

[2022-10-12 07:14] crazy-max commented on #703
Should be good with latest release

[2022-10-12 07:14] #703 closed

[2022-10-12 07:57] 0nary commented on #702
I'm struggling to use your command `docker build -t docker-image https://github.com/<user>/<repo>.git#:src/project`

I will use a one of my public test repos (even if i don't think this one will face the same issue), so you can say esealy where I'm wrong whit your command.
I use the repos : `https://github.com/0nary/test.in.docker`.
Where the Dockerfile is at `/src/Example.Service/Dockerfile`.
And

[2022-10-12 08:14] crazy-max commented on #702
Subdirectory for Git context is available from [BuildKit v0.9.0](https://github.com/moby/buildkit/releases/tag/v0.9.0). If you're using the `docker` builder, then BuildKit in Docker Engine will be used. As Docker Engine < v22.x.x embeds Buildkit 0.8.2 at the moment, it does not support this feature. So you have to create first a `docker-container` builder:

[code]

[2022-10-12 09:08] 0nary commented on #702
Thanks.
So the command when:
- the repos is `https://github.com/0nary/test.in.docker`.
- the Dockerfile is at `/src/Example.Service/Dockerfile`.
- the main branch is `master`.
[code]

And I have the same issue.

So it likely your guess is correct

I will investigate, thanks.

[2022-10-12 11:24] 0nary commented on #702
So I found where come from the problem even if I don't understand why this append.

In a razor template (invoice.cshtml), I have this code :
[code]

And for some reason this code throws a null ref exception at `@sendAt.ToString("dd/MM/yyyy")`, when a build the docker image from the github repository, but not when a build the image from my local repository.

[2022-10-12 12:02] 0nary commented on #702
To solve this I change my code from this:
[code]
to this :
[code]
Don't really know why it works , but it works.

[2022-10-12 12:02] #702 closed

[2022-10-12 21:35] rodrigorodrigues commented on #692
Thanks @crazy-max, the Dockerfile is generated automatic by docker:build(fabric8 plugin) but spring-boot:build-image doesn't generate this file, closing this ticket now.

[2022-10-12 21:35] #692 closed

[2022-10-14 02:25] kaovilai opened #706 "Document scope attribute"
Enhancement [per prior discussion](https://github.com/docker/build-push-action/issues/624#issuecomment-1141336628)

Still not documented in https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#github-cache

[2022-10-15 20:27] Lecon-a commented on #558
I am also facing this docker build command's issue. When I run: `docker build -t myimage .`

The following is what I got:
[code]

[2022-10-15 20:27] guptadikshant commented on #88
Hello Everyone,

Can anyone please provide any solution here. i tried many options but this access denied issue is not resolved.

Can anyone please help ?

Thanks,
Dikshant

[2022-10-15 20:29] Lecon-a commented on #558
Here is my Dockerfile

[code]

[2022-10-17 11:36] rbluethl commented on #169
@jcnils did you resolve this? I'm pulling out my hair trying to use a Dockerfile from a subdirectory...

[2022-10-17 17:57] rturrado commented on #433
This workaround doesn't allow you to access the repository checkout from the `build` workflow from the `deploy-staging` workflow, does it?

[2022-10-18 18:06] Nithos commented on #433
Seeing the same issue when using the bake action as well. Was racking my brain as to what I was doing wrong until i stumbled on this ticket. Our current workflow is set to only build and publish images on tags, so this is currently a big blocker for us. Is there any update on the status of this or other possible workaround?

@alextes how does your workaround manage to still hit the cache. Does the

[2022-10-19 00:00] alextes commented on #433
@rturrado if you mean "what has been built" no, you'd have to upload and download it yourself. In my case we build and push a docker image, later steps just send commands to a kubernetes cluster that downloads the image. If you mean the "fresh" repository checkout, that is pretty trivial, it might happen automatically but I'm confident there are actions for it also.

@nithos I don't quite remember

[2022-10-19 16:10] jacobwoffenden commented on #703
Are you using any other Docker actions @kedare ? I still see this warning output from a workflow that uses the following actions:

- `docker/setup-qemu-action`
- `docker/setup-buildx-action`
- `docker/build-push-action`

Frustratingly the actions UI doesn't specify which one causes it

[2022-10-19 16:12] kedare commented on #703
I just use the build push one

[2022-10-19 16:31] crazy-max commented on #703
@kedare This has been fixed for `docker/build-push-action@v3.2.0` and `docker/build-push-action@v3` and all other Docker actions as well (bake-action, setup-buildx-action, setup-qemu-action, metadata-action).

[2022-10-19 16:31] crazy-max commented on #703
You can find out which step generates a warning by clicking on it.

[2022-10-19 21:22] jkulak commented on #169
@rbluethl have a look here: https://github.com/jkulak/smartplaylist-backend/blob/main/.github/workflows/build-docker-images.yaml#L14-L36

I had to add
[code]

and later I could use
[code]

[2022-10-20 09:06] gitlawr commented on #654
It is configurable in `docker/setup-buildx-action`
Ref: https://github.com/docker/setup-buildx-action/blob/master/docs/advanced/buildkit-config.md
Example:
[code]

[2022-10-20 10:56] rbluethl commented on #169
Thanks for your help @jkulak! :)

Interestingly enough, I just tried without the checkout action and it now works even without it. For everyone struggling with this in the future, this is would I ended up with.

[code]

[2022-10-20 11:11] jkulak commented on #169
Just to be sure, does it work without the `- uses: actions/checkout@v3`? Because it is still present in the config in your comment above.

[2022-10-20 11:22] rbluethl commented on #169
The funny thing is that this step had been there all the time, so I can't tell what the problem was before that. :(

[2022-10-20 12:48] Nithos commented on #433
@alextes Thank you for the clarification. So your workflow is similar to ours, make a `build` step that builds the image and pushes as latest (where the cache works). Then have a follow up workflow that triggers on tag to pull and re-tag with the version number. The piece I missed originally is that you added the `wait-on` to remedy to possibility of both workflows being triggered at the same time

[2022-10-21 23:43] yaleman commented on #621
I'm having this issue when running "cargo fetch", the container gets OOMkilled before it even gets through that. Has anyone figured out a workaround?

[2022-10-23 20:56] xorinzor commented on #558
Same issue here, building works fine locally.

Failed build: https://github.com/Shoutz0r/frontend/actions/runs/3308523917/jobs/5460967584
Dockerfile: https://github.com/Shoutz0r/frontend/blob/4d2d50968d0a222f512f4c16660547c7f6df0b78/Dockerfile

[2022-10-24 01:28] Lecon-a commented on #558
Oh, thank you. I have resolved the issue.

On Sun, Oct 23, 2022 at 4:56 PM Jorin Vermeulen ***@***.***>
wrote:

[2022-10-24 08:36] nmattia commented on #558
@crazy-max will do thanks!

[2022-10-25 17:51] hgibsonqb opened #710 "Build times out trying to copy files from gha cache"
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour

We using the build-push-action to build a container image. We're using gha for caching and multi-stage builds.

We keep getting an intermittent failure where docker buildx will time out trying to copy files from the c

[2022-10-26 09:17] rewlad commented on #687
For me, relinking package to repo has fixed 403:

https://github.com/orgs/community/discussions/26274#discussioncomment-3251137

[2022-10-26 09:19] rewlad commented on #205
For me, relinking package to repo has fixed 403:

https://github.com/orgs/community/discussions/26274#discussioncomment-3251137

[2022-10-26 14:09] haimgel opened #711 "Multi-platform image is being built without Qemu, with amd64 builder only"
### Behaviour

I'm seeing something strange:
1. I didn't set up Qemu
2. Set up `setup-buildx-action`, even manually specified `linux/amd64` as the sole platform.
3. Specified `linux/arm64,linux/ppc64le` platforms for `build-push-action`

**It builds the multi-platform image**! I don't understand why, and how, according to the docs in this repo it shouldn't (multi-platform build under advanced docs

[2022-10-27 09:45] matzar opened #712 "Building and Pushing Docker image with private npm packages on GitHub Actions"
I'm using GitHub Actions to build and push my Docker image.

I've got private npm packages in my Dockerfile.

I need to install them when building the image.

To do it securely I'm using `--secret` flag.

This is how I got around building a Docker image with private npm packages with GutHub Actions:

[code]

It's probably not state of the art so, any idea how could I improve this?

There's obvious

[2022-10-28 14:11] flexchar opened #714 "A documentation for using ssh key from github secret to `--ssh` variable"
It'd be incredibly helpful to have an example of how to use the `--ssh` option when one has a private key stored as a secret on the repository.

[2022-10-29 23:31] moofoo commented on #160
Strangely enough, I was getting this error because of a mismatch between the name given to a build stage and the name used in a COPY --from=... instruction. I fortunately stumbled on this [answer](https://stackoverflow.com/questions/66507606/dockerfile-build-raising-insufficient-scope-authorization-failed-with-public-op), which got me looking at the FROM and COPY instructions in my Dockerfile.

I

[2022-10-30 18:24] Marceliux opened #715 "Trying to pass GitHub actions secrets as ENV variables is not working."
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour

#### Steps to reproduce this issue

1.Add EXPIRATION_TIME, GMAIL_ACCOUNT, GMAIL_PWD, MONGODB_URI, PRIVATE_KEY, SLACK_HOOK_URL as Secrets into the affected repository.
2. Using the attached .yml action to push my image

[2022-10-30 18:29] Marceliux commented on #715
I'm trying to do something like: https://andrei-calazans.com/posts/2021-06-23/passing-secrets-github-actions-docker

[2022-10-31 07:35] crazy-max commented on #715
https://github.com/docker/build-push-action/issues/701#issuecomment-1272400863

[2022-10-31 07:35] #715 closed

[2022-10-31 07:37] crazy-max commented on #712
See https://github.com/docker/build-push-action/blob/master/docs/advanced/secrets.md

[2022-10-31 07:37] #712 closed

[2022-10-31 07:42] crazy-max commented on #710
This looks like an intermittent network issue to connect to GitHub Cache backend, don't think we can do much about this.

If you can enable debug and post [BuildKit logs](https://github.com/docker/setup-buildx-action#buildkit-container-logs) if it happens again that would be useful:

[code]

Closing in the meantime.

[2022-10-31 07:42] #710 closed

[2022-10-31 07:42] #698 closed

[2022-10-31 15:16] Marceliux commented on #715
Hey Max @crazy-max, thanks for the reply!

I've updated the Dockerfile but still getting the following:

[code]

Here is my new file, I'm not forking from any repository, any ideas why this is showing?

[code]

[2022-10-31 15:22] crazy-max commented on #715
This is still wrong. Env vars are not propagated to other `RUN` instructions when using `export`. That's not the same shell for subsequent `RUN`s.

I guess you want to read the env vars for `RUN npm ci` right? In that case:

[code]

As an example: https://github.com/crazy-max/ghaction-virustotal/blob/6e64618c2e7adcbc84903af9d055bfa116439a46/dev.Dockerfile#L68-L81

[2022-10-31 15:45] Marceliux commented on #715
The thing with the example is that you are exposing those through a different action:
[code]

I changed my Dockerfile to what you sent and still getting the not found error:
[code]

[2022-10-31 15:54] crazy-max commented on #715
I was just linking to the Dockerfile as an example. This project uses bake and set secrets through envs: https://github.com/crazy-max/ghaction-virustotal/blob/6e64618c2e7adcbc84903af9d055bfa116439a46/docker-bake.hcl#L53-L65

In your case you're using the build-push-action right? Can you show your workflow as it does not seem the same as the secrets defined in this Dockerfile: https://github.com/do

[2022-10-31 15:57] Marceliux commented on #715
Oh ok, sorry, I thought I was exposing the secrets incorrectly:

.yml file:

[code]
Dockerfile:
[code]

[2022-10-31 15:58] crazy-max commented on #715
And you forgot to set the `syntax` at the beginning of your Dockerfile I think:

[code]

[2022-10-31 16:24] Marceliux commented on #715
Attached the files above and added the sintax tag, sorry, I'm still learning Docker and GitHub actions, really appreciate the help

[2022-11-01 08:22] danieletorelli commented on #438
Hello, any update on this one?

[2022-11-01 13:48] begs commented on #463
For anyone stumbling into this error and has the same issue as @randomairborne, make sure that your personal token has `write:packages` included in scope. That was the fix for me.

![image](https://user-images.githubusercontent.com/16167085/199248435-8d22fcd4-d8ee-4dfb-a6f1-7ba39d6a8dca.png)

[2022-11-01 13:49] begs commented on #463
For anyone stumbling into this error and have the same issue as @randomairborne, make sure that your personal token has `write:packages` included in scope. That was the fix for me.

![image](https://user-images.githubusercontent.com/16167085/199248435-8d22fcd4-d8ee-4dfb-a6f1-7ba39d6a8dca.png)

[2022-11-02 19:17] FireMasterK opened #716 "`--mount=type=cache` not caching properly?"
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour

Cache mounts are not caching properly? Apt is not caching packages nor is cargo/rust.

#### Steps to reproduce this issue

1. Create a Rust project
2. Use a Dockerfile with the `--mount=type=cache` flag in a RUN step

[2022-11-03 17:06] ZackaryWelch opened #717 "Add capability tuning"
Is there any way to run the equivalent of `--add-cap` or `--drop-cap` as you can through CLI `docker build`? Apart from using docker compose instead, which might be the only way right now.

[2022-11-03 21:07] exploitact commented on #597
how were you able to fix this?

[2022-11-04 17:27] navarr opened #719 "Feature Request: Automated Recovery"
I have a large Github Action workflow that pushes over 600 images up to the GitHub Container Registry.

This mostly works fine, except that I have to set max-parallels based on how many images I expect to be running at a time, and even then sometimes I'm hitting APIs too fast or getting a rare error.

For example:

[code]

or

[code]

or

[code]

These are all temporary errors that disappear the m

[2022-11-05 15:59] Marceliux commented on #715
Any updates on this? Thank you in advance!

[2022-11-07 09:10] #716 closed

[2022-11-07 09:30] crazy-max commented on #711
[`platforms` input](https://github.com/docker/setup-buildx-action#inputs) for `setup-buildx-action` will just set the preferred platform for the node attached to the builder. This is only useful when you want to append nodes to a builder so you can set a preferred platform matching its hardware specifications: https://docs.docker.com/build/ci/github-actions/examples/#append-additional-nodes-to-the

[2022-11-07 09:30] #711 closed

[2022-11-09 02:56] calvin0327 opened #720 "failed to push image to harbor registry"
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour

#### Expected behaviour
the registry is a harbor server, and the user both has read and write premission.
workflow ：
https://github.com/calvin0327/karmada-operator/blob/main/.github/workflows/build-job-image.yaml
<img

[2022-11-09 03:28] calvin0327 commented on #720
@crazy-max Could you help me with this problem? thx

[2022-11-09 07:06] cdalvaro commented on #225
You can achieve it by starting a registry container and pushing your multi-arch image to that container. Then, save the data of the registry into a .tar file and share it among jobs.

Here you have an example: https://github.com/cdalvaro/docker-salt-master/blob/c556e06e5527cc2dc95966039858671f5f16cebe/.github/workflows/build-and-test.yml

Although I would prefer to do it by simply using the `outpu

[2022-11-09 16:55] brettinternet opened #722 "Specify repository package README"
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour

#### Steps to reproduce this issue

1. In a containers monorepo with multiple images where the README is in a subdirectory
2. build and push to GHCR or Docker Hub

#### Expected behaviour

It should README in the cont

[2022-11-12 22:46] Marceliux commented on #715
Hey @crazy-max  I fixed it by removing the whitespaces on my workflow.yml file, thank you so much for your help!
Take care!

[2022-11-14 23:06] ejgutierrezvega opened #724 "Node 16 upgrade"
### Troubleshooting

Before submitting a bug report please read the [Troubleshooting doc](https://github.com/docker/build-push-action/blob/master/TROUBLESHOOTING.md).

### Behaviour
We are receiving warnings from Github actions about node 12 would be deprecated and that this action is still using it Node 12 version.

`Node.js 12 actions are deprecated. For more information see: https://github.blog

[2022-11-15 09:11] crazy-max commented on #724
Update your workflow to use `docker/build-push-action@v3`.

[2022-11-15 09:11] #724 closed

[2022-11-15 09:13] crazy-max commented on #722
See https://docs.docker.com/build/ci/github-actions/examples/#update-docker-hub-repository-description if you want to update the repo description on Docker Hub.

[2022-11-15 09:13] #722 closed

[2022-11-15 09:16] crazy-max commented on #720
Don't think that's an issue with the action but your registry. Can you post your [BuildKit logs](https://docs.docker.com/build/ci/github-actions/configure-builder/#buildkit-container-logs)? And also can you repro locally?

[2022-11-15 14:58] suntorytimed commented on #671
Just tried to use a matrix to build my ResourceSpace container in six different pipelines, as it saves a lot of time for each image to finish. But as reported, each finished pipeline overwrites the result of the priorly finished one and I end up with just the riscv64 image. It would be great if the tags section could support some kind of platform/architecture tagging.

[2022-11-17 23:51] brianpham opened #725 "Is there a way to pipe into docker build?"
Hi,

We have a build with a lot of symlinks. Is there a way to execute something like this using the build-push-action?

`tar -czh . | docker build -t test-image -`

[2022-11-19 09:09] ruslandoga opened #726 "JSON build-args are not properly escaped"
👋

### Behaviour

For a Dockerfile like

[code]

and a workflow like

[code]

JSON passed to build-args is not properly escaped, resulting in a container image with invalid JSON in `$BUILD_INFO`

[code]
[code]
<sup>Note the second tag in `tags`  `ghcr.io/ruslandoga/docker-build-info:59d6c0f` It's not quoted.</sup>

#### Steps to reproduce this issue

Please see the Dockerfile and Github CI workflo

[2022-11-20 22:07] cupcakearmy commented on #312
Thanks, made my day. `context: 1` was the trick.

[2022-11-22 15:49] deavisdude opened #727 "Feature Request: Save and Push"
I would like to be able to use this action to build a docker image, and then both save the image locally AND push it to a container registry. I want to be able to perform other actions on the image like a container image scan as a part of my CI workflow. Currently, I am only able to give either `push: true` OR `outputs: type=docker,dest=/tmp/myimage.tar` meaning that I either have to:
- build the

[2022-11-22 15:56] jedevc commented on #727
This looks similar to https://github.com/moby/buildkit/pull/2760 - currently multiple exporters aren't supported.

You can work around this today by creating multiple invocations of the `build-push-action`, the invocations after the first won't be re-run (as long as no content has changed), since all the content should be cached.

[2022-11-24 10:42] sarahcthekey opened #728 "build-push-action not copying hidden folder to docker image"
### Behaviour

#### Expected behaviour

The Dockerfile has a step to copy `next` folder (containing a hidden folder called `.next` to /opt/auth-service/next):

`COPY   next         /opt/auth-service/next`

The next/.next folder should copy across to the docker image when using the build-push-action, like it does if I run a `docker build -t <image-name> .` command on the github runner manually (whe

[2022-11-24 10:45] sarahcthekey commented on #728
Also attached logs for the step before build push which lists the contents of the directory on the github runner:

` ls -la next`

[13_List directories in next directory (with hidden files).txt](https://github.com/docker/build-push-action/files/10083660/13_List.directories.in.next.directory.with.hidden.files.txt)

[2022-11-25 13:43] UgurGumushan commented on #160
Related: https://github.com/docker/compose/issues/8449
Disabling buildkit may work

[2022-11-25 16:30] crazy-max commented on #728
Can you post your Dockerfile please?

[2022-11-28 14:49] igor-krupenja commented on #608
@crazy-max

We are alo running into this in one project only (Angular front-end). Relevant part of the config below, largely similar to [this example](https://github.com/docker/build-push-action/blob/v3.1.1/docs/advanced/cache.md#local-cache).

<details>
<summary>YAML config</summary>

[code]

</details>

<details>
<summary>Raw logs from action</summary>

[code]

</details>

Also, I have added the

[2022-11-28 18:32] D34DC3N73R opened #730 "Build fails with github actions - building works on local"
### Troubleshooting

No steps in troubleshooting apply.

### Behaviour
Using build-push-action@v3 my images fails to build using github actions, but has no problem when building on a local machine. Other significant notes, this action has been successfully building without issues until 14 days ago. Then suddenly the build started to fail with no edits to the action or the Dockerfile.

#### Steps t

[2022-11-28 18:36] crazy-max commented on #730
Don't think that's an issue with the action but your Dockerfile.

See https://github.com/D34DC3N73R/netdata-glibc/actions/runs/3564697590/jobs/5988974118#step:4:448

[code]

[2022-11-28 18:36] #730 closed

[2022-11-28 19:34] D34DC3N73R commented on #730
Thanks, I was able to track this down to a change in alpine and apply a workaround.

[2022-11-29 06:05] aerlaut opened #731 "GHA backend: Use cache from base branch"
The documentation states, that build cache is scoped [per branch](https://docs.docker.com/build/building/cache/backends/gha/#scope) by default. However, [cache from the default branch and base branch is accessible to the workflow branch](https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache).

I'd like to store the build ca

[2022-11-29 17:25] crazy-max commented on #731
This is already the case like [actions/cache](https://github.com/actions/cache). Caches are [scoped by branch](https://docs.github.com/en/actions/advanced-guides/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache), with the default and target branches being available to every branch.

Scopes are provided through a JWT token `ACTIONS_RUNTIME_TOKEN` set by GitHub and is as

[2022-11-29 17:25] #731 closed

[2022-11-29 17:26] crazy-max commented on #725
Not sure I understand, can you show your workflow?

[2022-11-29 23:35] MrHash commented on #621
I found your blog @yaleman and for me `CARGO_NET_GIT_FETCH_WITH_CLI=true` also resolves the OOM 137 errors during the cargo fetch stage while using buildx.

[2022-11-30 06:54] L1ghtman2k commented on #691
I ran into this issue myself recently. Turns out, this issue is due to:
[code]
being called after artifacts have been downloaded, which ends up cleaning all previously instantiated files in that directory, including the artifact you have downloaded

[2022-11-30 11:18] SebastianStehle opened #733 "Multi platform build with caching?"
Hi,

this is more a discussion. Have you been able to get multi-platform build running? When I just enable it I get the following error:

https://github.com/Squidex/squidex/actions/runs/3581565934

When I turn of load: true, then I get another exception:

[code]

I found a lot of bug reports in the docker repo regarding that, e.g. https://github.com/docker/buildx/issues/1220

[2022-11-30 14:40] SebastianStehle commented on #733
I tested another approach where I push to a temporary image name in the registry. This time it starts running but stops without any error:

https://github.com/notifo-io/notifo/actions/runs/3584189805/jobs/6030545111

It is another project that builds faster in general, but has the same architecture.

[2022-11-30 15:03] crazy-max commented on #733
You're trying to load a multi-platform image to the Docker store which is not supported atm.

If you don't load then the image result as nowhere to go, that's why you have this warning. You can either push the image to a registry like you've done: https://github.com/docker/build-push-action/issues/733#issuecomment-1332263462

___

Looking at the workflow, the `build` job looks to just warm-up cach

[2022-11-30 15:08] SebastianStehle commented on #733
Thank you for your answer. I have picked another project, which in general just builds faster. I use the registry as cache and then pull it from the registry:

https://github.com/notifo-io/notifo/blob/multiplatform/.github/workflows/dev.yml#L36

This seems to work so far.

[2022-11-30 15:28] SebastianStehle commented on #733
Good point. I could just get rid of the build steps. but it is easier to understand the issue when the build fails.

[2022-11-30 15:33] SebastianStehle commented on #733
I hope it is okay to ask that here. Is it possible to run a stage shared between platforms? There is no value to build my React frontend twice.

[2022-11-30 17:37] SebastianStehle commented on #733
I tried your approach with another PR and now I am confused.

1. When `load == false` I cannot load the image after I have built it: https://github.com/notifo-io/notifo/actions/runs/3585260426/jobs/6033249244#step:12:57
2. When `load == true` the build would fail with multiplatform enabled.

So my only option seems to be to always push the temporary image to a registry, also for PRs.

[2022-11-30 19:02] LeviPesin commented on #17
What is the correct way to use the build-test-push workflow with GHA cache? Is it to only include `cache-from: type=gha cache-to: type=gha,mode=max` on the first build-push-action (the build one), on the second (the push one), or on both?

[2022-11-30 19:42] gunnarwustl commented on #597
I'm currently getting something similar related to dpkg failing during my apt-get install layer within the buildx task. Still working out why this fails when using provided docker buildx actions but not when simply running docker build via shell actions.